{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
          <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
        <a href="home.html">Return to Home</a>
      <h1 class="heading-xlarge">Personal Independence Payment <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/620872-200.png" height="60px" alt="pip-icon"></h1>

     <p>Personal Independence Payment (PIP) helps with some of the extra costs caused by long-term ill-health or a disability.
        </p>
        

        <p>We can use some of your documents and information about you to help you apply for PIP:</p>
        <ul class="list list-bullet">
            <li><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/111342-200.png" alt="document-icon" height="30px">Proof of adress</li>      
            <li><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10154-200.png" alt="person-icon" height="30px">Your personal details and contact information</li>                
            <li><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/210257-200.png" alt="doctor-icon" height="35px">Information about your doctor and your medical history</li>  
            <li><img src="     https://d30y9cdsu7xlg0.cloudfront.net/png/33123-200.png" alt="bank-card-icon" height="35px">Information about your doctor and your medical history</li>              
            
                <br>   
              <p>We will need to ask for your a few more details so that you can apply for PIP.</p>
            
            <input class="button" type="submit" value="Apply for PIP">
			
    </div>
    </div>
</main>

{% endblock %}


