{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
          <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
        <a href="home.html">Return to Home</a>

      <h1 class="heading-xlarge">Personal Independence Payment <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/620872-200.png" height="60px" alt="pip-icon"></h1>

        <p>Personal Independence Payment (PIP) helps with some of the extra costs caused by long-term ill-health or a disability.
        </p>
        
        <p>You can only claim PIP between the ages of 16 and 64, so you you will be eligble for three more years</p>

        <p>You could get between £21.80 and £139.75 a week.</p>

        <h2><a href="pip-2.html">What you'll get ></a></h4>
                
                
			
    </div>
  </div>
</main>

{% endblock %}


