{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
          <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
        <a href="home.html">Return to Home</a>

      <h1 class="heading-xlarge">Personal Independence Payment <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/620872-200.png" height="60px" alt="pip-icon"></h1>

     <p>Personal Independence Payment (PIP) helps with some of the extra costs caused by long-term ill-health or a disability.
        </p>
        

      <h2 class="heading-medium">Based on what we know about you, we think you are entitled to £139.75 a week</h2>
        
        <p>This is because:</p>
        <ul class="list list-bullet">
				<li>you are aged between 16 to 64</li>
				<li>you have a long-term health condition or disability and difficulties with ‘daily living’ or getting around</li>
				<li>you are in Great Britain</li> 
				<li>you are habitually resident in the UK, Ireland, Isle of Man or the Channel Islands</li>
				<li>you are not be subject to immigration control</li>
				<li>you have had these difficulties for 3 months and expect them to last for at least 9 months</li>               
                <br>   

            
        <h2><a href="pip-4.html">Applying for PIP ></a></h4>
                
                
			
    </div>
  </div>
</main>

{% endblock %}


