{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
          <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
        <a href="home.html">Return to Home</a>

      <h1 class="heading-xlarge">Personal Independence Payment <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/620872-200.png" height="60px" alt="pip-icon"></h1>

      <p>Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) is usually paid every 4 weeks. It’s tax free and you can get it whether you’re in or out of work.</p>

<p>It’s made up of 2 components (parts). Whether you get one or both of these depends on how your condition affects you.</p>

<table>
  <thead>
    <tr>
      <th>Daily living component</th>
      <th>Weekly rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td>£55.10</td>
    </tr>
    <tr>
      <td>Enhanced</td>
      <td>£82.30</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Mobility component</th>
      <th>Weekly rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td>£21.80</td>
    </tr>
    <tr>
      <td>Enhanced</td>
      <td>£57.45</td>
    </tr>
  </tbody>
</table>

        <br>
        <h2><a href="pip-3.html">Your eligibility ></a></h4>
                
                
			
    </div>
  </div>
</main>

{% endblock %}


