{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Helping you with dementia</h1>

      <p>
          Hello Linda.
        </p>
        
        <p>
        You are visiting this page because you have been diagnosed with dementia by your doctor.</p>
        
        <p>You will find services that you might find useful on this page.
      </p>

      <p>
        You can also talk to a support worker if you need to.
      </p>
        
        <p>You can use this service on your own, or you can ask a friend or family member to help you.   </p>

       
                  
        <h2 class="heading-medium"> Services</h2><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/654889-200.png" height="60px">
        <br/>
        <p>
            There are a number of services which people with dementia often find useful. You can find them in the list below.</p>
        
        <p> Not everyone will dementia will need to use all     of these services.
        </p>

        <ul class="list list-bullet">
				<li><a href="link1">Lasting Power of Attorney</a></li>
				<li><a href="link2">Court of Protection</a></li>                
				<li><a href="link3">Personal Independence Payment</a></li>				
				<li><a href="link4">Carer's Allowance</a></li>


        <h2 class="heading-medium">Talk to a support worker</h2>
                
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/574839-200.png" height="60px">
                
                <p>If you need to talk to a support worker, you do this through this page.</p>
                
                <p>We will need to ask you some questions first, so that we can find the right person to speak to you.</p>
                
                  <input class="button" type="submit" value="Talk to a support worker">

                
                
			
    </div>
  </div>
</main>

{% endblock %}


